body {
  font-size: 1.6vw;
  font-family: "UD デジタル 教科書体 NK-B";
}

input {
  width: 10vw;
  height: 4vw;
  line-height: 4vw;
  font-size: 2vw;
  text-align: right;
}

#text-box {
  height: max(30px, 6vw);
  font-size: 2vw;
  line-height: max(20px, 5vw);
  letter-spacing: 0.2vw;
  background-color: antiquewhite;
}

button {
  width: auto;
  height: auto;
}

td {
  width: max(50px, 3vw);
  height: max(50px, 3vw);
  padding: 0px;
  font-size: max(30px, 2vw);
  text-align: center;
  vertical-align: middle;
  border-bottom: dotted gray 1px;
  border-left: dotted gray 1px;
}

.num {
  width: max(46px, 2.6vw);
  height: max(46px, 2.6vw);
  line-height: max(46px, 2.6vw);
  font-size: max(30px, 2vw);
  border: solid 1px black;
  border-radius: 10%;
  color:black;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

td .num {
  margin: auto;
}

tr:nth-child(1) td {
  border-top: dotted gray 1px;
}

tr td:nth-child(3) {
  font-size: 35px;
  vertical-align: text-top;
  width: 20px;
  text-align: right;
}

tr:nth-child(1) td:nth-child(4),
tr:nth-child(1) td:nth-child(5),
tr:nth-child(1) td:nth-child(6),
tr:nth-child(3) td:nth-child(4),
tr:nth-child(3) td:nth-child(5),
tr:nth-child(3) td:nth-child(6),
tr:nth-child(5) td:nth-child(5),
tr:nth-child(5) td:nth-child(6) {
  border-bottom: solid black 2px;
}
/* tr:nth-child(1) td:nth-child(3), */

td:last-child {
  border-right: dotted gray 1px;
}

.diagonal {
  background-image: linear-gradient(
    to right top,
    transparent calc(50% - 0.5px),
    red 50%,
    red calc(50% + 0.5px),
    transparent calc(50% + 1px)
  ) !important;
}

img {
  width: 3vw;
  height: 3vw;
  margin: 0.1vw;
}

.btn {
  font-size: max(12px, 1vw);
}


@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  #btn-make-question{
    width: 36px;
    height: 20px;
    margin-right: 2px;
    padding: 0;
    font-size: max(8px, 1vw);
  }
}
